/* Contenedor de cada sección */
.catalog-section {
    display: flex;
    justify-content: space-between; /* Alinea el contenido a los lados */
    align-items: center; /* Alinea verticalmente */
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Estilo para las imágenes */
  ion-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Estilo para el buscador */
  .searchbar {
    width: 80%; /* Hace que ocupe la mayor parte del espacio disponible */
  }
  
  /* Título debajo del buscador */
  .catalog-title {
    text-align: center; /* Centra el título */
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Estilo para el botón de búsqueda */
  .search-button {
    color: #3f7d54; /* Texto negro */
    border-radius: 8px; /* Bordes redondeados */
  }
  
  /* Icono de búsqueda */
  .search-icon {
    color: #000000; /* Resalta las letras del ícono en negro */
    font-size: 20px;
  }
  
  /* Descripción de la ruta o zona */
  .catalog-description {
    flex: 1; /* Ocupa el espacio restante */
    padding-right: 20px; /* Espacio entre la descripción y la imagen */
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Imagen */
  .catalog-image {
    flex: 1; /* Ocupa el espacio restante */
    max-width: 50%; /* Limita el tamaño máximo de la imagen */
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* Ajustar imágenes si es necesario */
  .catalog-image ion-img {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilo para el botón de "Ver más" */
  .view-more-button {
    margin-top: 10px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Estilos para el pie de página */
  ion-footer ion-button {
    margin: 0 0.5rem;
  }
  
  /* Estilo para la barra de herramientas */
  ion-toolbar {
    --background: #46730f;
  }
  
  /* Diseño de la sección cuando se visualiza en modo columna */
  .catalog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Descripción centrada */
  .catalog-description {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Imagen centrada */
  .catalog-image {
    width: 100%;
    margin-bottom: 10px;
  }
  