<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="search-outline" class="search-icon"></ion-icon>
      <ion-label>menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="map-outline" class="map-icon"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="settings-outline" class="settings-icon"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>
    

  </ion-tab-bar>

</ion-tabs>
