.login-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos hacia la parte superior */
    align-items: center;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la vista */
    padding: 2rem 1rem; /* Agrega espacio superior y lateral */
  }
  
  .user-icon {
    font-size: 80px; /* Tamaño del ícono de usuario ajustado */
    margin-bottom: 2rem; /* Espacio debajo del ícono */
    color: #3880ff; /* Cambia el color si lo deseas */
  }
  
  ion-item {
    width: 100%;
    max-width: 400px; /* Ancho máximo de los campos de entrada */
    margin-bottom: 1rem;
  }
  
  ion-button {
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
  }
  
  .forgot-password {
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }
  