<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio de sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <!-- Ícono de usuario restaurado con el tamaño ajustado -->
    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
    <ion-item>
      <ion-label position="floating">Ingrese su email</ion-label>
      <ion-input type="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingrese su contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary" (click)="onLogin()">Iniciar</ion-button>
    <ion-text class="forgot-password">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </ion-text>
  </div>

  <!-- Alerta de inicio de sesión -->
  <ion-alert
    [isOpen]="showAlert"
    header="Resultado del inicio de sesión"
    [message]="alertMessage"
    buttons="OK"
    (didDismiss)="onAlertDismiss()">
  </ion-alert>
</ion-content>
